@model IEnumerable<PTH.Domain.Queries.ClusterVariantPreview>


<table class="table table-dark table-striped">
    <tr>
        <th>Variant</th>
        <th>Average Price in Exalted</th>
    </tr>
    @foreach (var preview in Model)
    {
        <tr>
            <td>
                <a asp-controller="Cluster" asp-action="ClusterVariantDetails" asp-route-variant="@preview.VariantName">
                    <input type="button" class="btn btn-dark" value="@preview.VariantName"/>
                </a>
            </td>
            <td>@preview.AveragePrice.ToString("F2")</td>
        </tr>
    }
</table>