@model IEnumerable<string>

    @foreach (var type in Model)
    {
        <a asp-controller="Cluster" asp-action="ClusterVariants" asp-route-type="@type">
            <input type="button" class="btn btn-dark" value="@type"/>
        </a>
    }